    
    
    <script>
      $(document).ready(function() {  
             //swiping 
             $("div[id^='aski-carousel']").each(function() {
                var $current = $(this);
                $current.swiperight(function() {
                    $current.carousel('prev'); 
                });
                $current.swipeleft(function() {
                    $current.carousel('next'); 
                });
            }); 
            //expanding
            $('.offer').each(function() {
                var $offer = $(this);
                $offer.on('click', '.more .content a', function() {
                    $offer.toggleClass('expanded');
                });
            });
        });  
    </script>
    </body>

</html>