
<div class="card">
    <div class="offer">
        <!--div class="location"-->
            <div id="aski-carousel-{{ forloop.index }}" class="location carousel slide" data-ride="carousel" data-interval="false">
                  <!-- Indicators -->
                  {% assign outer_forloop = forloop %}
                  <ol class="carousel-indicators">
                    {% for tag in post.tags %}
                    <li data-target="#aski-carousel-{{ outer_forloop.index }}" 
                        data-slide-to="{{ forloop.index0 }}"
                        {% if forloop.first == true %}
                        class="active" 
                        {% endif %}
                    ></li>
                    {% endfor %}
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    {% for tag in post.tags %}
                        {% if forloop.first == true %}
                        <div class="item active">
                            <div class="location-clip" style="background-image: url(/img/{{ tag }});"> 
                                <div class="content"><a href="{{ post.address_url }}">{{ post.address }}</a></div>
                            </div>
                        </div>
                        {% else %}
                        <div class="item">
                            <div class="location-clip" style="background-image: url(/img/{{ tag }});"></div>
                        </div>                    
                        {% endif %}
                    {% endfor %}
                  </div>
            </div>
        <!--/div-->
        <div class="type">
            <div class="content">{{ post.type }}</div>
        </div>
        <div class="price">
            <div class="content">
                {{ post.price }}&nbsp;<i class="fa fa-rub"></i> 
                {% if post.period %}
                    {{ post.period }}
                {% endif %}
            </div>
        </div>
        <div class="house">
            <div class="content">{{ post.house }}</div>
        </div>
        <div class="area">
            <div class="content">
                <table>
                    <thead class="extra">
                        <tr>
                            <th>Площадь:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="extra">Общая:</td>
                            <td class="common-area">{{ post.area }}&nbsp;м²</td>
                        </tr>
                        <tr class="extra">
                            <td>Жилая:</td>
                            <td>{{ post.area_live }}&nbsp;м²</td>
                        </tr>
                        <tr class="extra">
                            <td>Кухня:</td>
                            <td>{{ post.area_kitchen }}&nbsp;м²</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="additional">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>Общая информация:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if post.floor %}
                        <tr>
                            <td>Этаж:</td>
                            <td>{{ post.floor }}</td>
                        </tr>
                        {% endif %}
                        
                        <tr>
                            <td>Лифт:</td>
                            {% if post.elevator %}
                            <td>{{ post.elevator }}</td>
                            {% else %}
                            <td>нет</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Балкон:</td>
                            {% if post.balcony %}
                            <td>1</td>
                            {% else %}
                            <td>нет</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Санузел:</td>
                            <td>{{ post.WC }}</td>
                        </tr>
                        <tr class="extra">
                            <td>Окна:</td>
                            <td>{{ post.windows}}</td>
                        </tr>
                        <tr class="extra">
                            <td>Телефон:</td>
                            <td>{{ post.phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="description">
            <div class="content">
                <h3 class="extra">Описание:</h3>
                {{ post.description }}
            </div>
        </div>
        <div class="more available" >
            <div class="content">
                <a><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
    </div>
</div>